Kikka/build
Tools/Builder/build/*
Tools/Builder/temp/*
Kikka/Python/*
Kikka/_Python/*
WinForms
Main/output/*
kikka.log*
*.[Mm]emory
*.db
Pipfile
Pipfile.lock

__pycache__/
.idea/
.vs/
*.aps
*.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

!Python/README.md
