
QWidget {
	color: #FFFFFF;
}

QPushButton{
	text-align: left;
	padding: 3px;
	border: 0;
} 

QPushButton:hover{
	text-decoration: underline;
} 

QLineEdit {
	color: #000000;
	background-color: #FFFFFF;

	border: 1px solid #FFFFFF;	
}






